@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<li class="header">权限管理</li>
<!-- Optionally, you can add icons to the links -->
<li class="active"><a href="/Department/Index"><i class="fa fa-folder"></i> <span>组织机构</span></a></li>
<li><a href="/Role/Index"><i class="fa fa-folder"></i> <span>角色管理</span></a></li>
<li><a href="/User/Index"><i class="fa fa-folder"></i> <span>用户管理</span></a></li>
<li><a href="/Menu/Index"><i class="fa fa-folder"></i> <span>功能管理</span></a></li>
@*<li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Multilevel</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Link in level 2</a></li>
            <li><a href="#">Link in level 2</a></li>
        </ul>
    </li>*@